body {
    background-blend-mode: color-burn;
    font-family: 'Cutive Mono', monospace;
    background-image: url("images/jazzcup.jpg");
    opacity: 0.9;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
  list-style: none;
  margin: 0px;
  border: 0px;
  padding: 40px;
  font-size: 110%;
}

header img {
  height: auto; 
  width: auto; 
  max-width: 500px;
  max-height: 300px;
  transition-delay: 3s; 
}

header {
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: blue;
  font-size: 150%;
}

.social-media li {
  display: inline; 
  padding: 5rem;
}



.primary  {
  background-color: rgb(132,255,255);
  opacity: 0.9;
  margin: 0px;
  padding: 0px;
  border: 0px; 
}

article {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}

article:hover {
  font-weight:900;  
  
} 

h1 {
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-o-transition: all 2s ease;
-ms-transition: all 2s ease;
}

h1:hover {
  background-image: url(images/timtaylor.jpg);
  font-size: 600%; 
}
.secondary {
  background-color:hotpink;
  opacity: 0.9;
  margin: 0px;
  padding: 40px;
  border: 0px 
}

.dialup-connection {
  height: 10%; 
}

.tertiary {
  background-color:mediumpurple;
  opacity: 0.9;
  margin: 0px;
  padding: 40px;
  border: 4px;
}

.blogdates {
  color: black;
  font-size: 120%;
}

.copyright {
  font-size: 8px;
}

/* BIG WILLY STYLES */ 

.bigwillybackground {
  background-image: url(images/willsmithbackground.jpg);
  background-image: radial-gradient(circle);
  
}

#bigwillyheader {
  font-size: 250%;
  text-align: center;
  font-family: 'Permanent Marker';
  color: hotpink; 
}

.bigwillypic {
  width: 10%;
  animation-name: zoom; 
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-delay: 10.2s;
  border-style: groove;
  border-color: aquamarine;
}

@keyframes zoom {
    from {transform:scale(0)}; 
    to   {transform:scale(1)};
  
}

audio {
  display:none;
}


